
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">


      <h1>You need first to sign up</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
        <%= f.input :delivery_address,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "delivery address" }%>
        <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up ", :class => 'sign_up_btn' %>
     </div>
     <% end %>




     <%= link_to new_user_session_path do %>

     <div class="devise_registration_links_first">
      You already have an account?
    </div>

    <% end %>


  </div>
</div>
</div>





