    <div class="css-gallery">
   <% if !@product.photo_url.nil? & !@product.photo_url_one.nil? & !@product.photo_url_two.nil? & !@product.photo_url_three.nil? %>
      <!-- Main/large images -->
      <div class="viewer" style="background-image: url(<%= asset_path @product.photo_url %>);background-size: cover;">
        <div id="img1" class="img-large">
          <div style="background-image: url(<%= asset_path @product.photo_url %>);"></div>
        </div>
        <div id="img2" class="img-large">
          <div style="background-image: url(<%= asset_path @product.photo_url_one %>);"></div>
        </div>
        <div id="img3" class="img-large">
          <div style="background-image: url(<%= asset_path @product.photo_url_two %>);"></div>
        </div>
        <div id="img4" class="img-large">
          <div style="background-image: url(<%= asset_path @product.photo_url_three %>);"></div>
        </div>
      </div>

      <!-- Thumbnails -->
      <div>
        <ul>
          <li><a href="#img1"><img src=<%= asset_path @product.photo_url %> /></a></li>
          <li><a href="#img2"><img src=<%= asset_path @product.photo_url_one %> /></a></li>
          <li><a href="#img3"><img src=<%= asset_path @product.photo_url_two %> /></a></li>
          <li><a href="#img4"><img src=<%= asset_path @product.photo_url_three %> /></a></li>
        </ul>
      </div>
      <% end%>
    </div>

