<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">


      <h1>Log in</h1>



      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs default-margin">
        <%= f.input :email,
        required: false,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
        required: false,
        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", :class => 'sign_up_btn' %>
      </div>
      <% end %>

      <%= link_to new_user_registration_path do %>

      <div class="">
        <div class="devise_registration_links_first">
          Create an account
        </div>

        <% end %>
        <%= link_to new_user_password_path do %>

        <div class="devise_registration_links">
          Forgot password?
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

