<h1>Checkout summary</h1>
  <div class="product-screen-container">
    <div class="product-screen-left-container">
      <div class="product-photo"><%= image_tag @order.product.photo_url, width: '100%' %></div>
    </div>
    <div class="product-screen-right-container">

      <p>Purchase of <strong><%= @order.product.name %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <div class="col">
        <button id="pay" class="card-category-button-show">Pay</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>

          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {

            const stripe = Stripe("<%=Figaro.env.stripe_publishable_key%>");
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>
      </div>
    </div>
  </div>






