<h1><%= @product.name %></h1>

<div class="product-screen-container">
  <div class="product-screen-left-container">

    <%= render 'shared/gallery-viewer' %>

  </div>
  <div class="product-screen-right-container">
    <p style="font-weight: bold;">Description</p>
    <div><%= @product.description %></div>
    <p style="font-weight: bold;">Price</p>
    <div>€<%= @product.price %></div>
    <div class="buttons-call-to-actions">


      <div ><%= form_tag orders_path do %>
        <%= hidden_field_tag 'product_id', @product.id %>
        <%= submit_tag 'Buy now', class: 'card-category-button-show' %>
        <% end %>

      </div>

      <div ><%= form_tag orders_path do %>
        <%= hidden_field_tag 'product_id', @product.id %>
        <%= submit_tag 'Add to cart', class: 'card-category-button-show hidden' %>
        <% end %>

      </div>
    </div>
  </div>

</div>



